/*CSS-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utilities-borderline*/
.border{
    border: 1px dashed #000;
}

.border-white{
    border: 1px dashed #fff;
}

/*utilities-position*/

.flex{
    display: flex;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-reverse{
    flex-direction: row-reverse;
}

.mrg-vert{
    margin: 20px auto;
}

.pdg-box{
    padding: 3px 5px;
}

/*utilities-height*/
.hgt-box-l{
    min-height: 300px;
}

.hgt-box-xl{
    min-height: 700px;
}

.hgt-s{
    min-height:30px;
}

.hgt-m{
    min-height:45px;
}

.hgt-l{
    min-height: 60px;
}

.hgt-xl{
    min-height: 75px;
}


/*utilities-width*/
.wdt-box-l{
    width: 800px;
}

.wdt-box-xl{
    width: 1000px;
}


/*utilities-backgrounds-color*/

.bg-azure{
    background-color: aquamarine;
}

.bg-blue{
    background-color: rgb(12, 0, 146);
}
.bg-white{
    background-color: #fff;
}
.bg-grey{
    background-color: #aaa;
}

.bg-black{
    background-color: #222;
}

.bg-azure{
    background-color: dodgerblue;
}

.bg-pink{
    background-color: pink;
}

.bg-magenta{
    background-color: rgb(210, 87, 210);
}


.bg-green{
    background-color: green;
}

.bg-coral{
    background-color: coral;
}

.bg-acqua{
    background-color: rgb(0, 128, 117);
}

.bg-seagreen{
    background-color: darkseagreen;
}

/*header nav-header*/

.cont-nav-header{
    min-height: 50px;
}

.nav-header{
    background-color: goldenrod;
}

.box-logo{
    width: 25%;
    justify-content: flex-start;
    align-items: center;
}

.box-link{
    width: 50%;
}


.box-login{
    width: 25%;
    justify-content: flex-end;
    align-items: center;
}

/*main*/

.box-azure{
    width: 60%;
}

.box-pink{
    width: 40%;
}


/*footer-content*/
.cont-footer-content{
    padding-top: 10px;
    padding-bottom: 20px;
}
.box-coral{
    width: 34%;
}

.box-acqua{
    width: calc(66%/4);
}

/*nav-footer*/
.footer-nav-box{
    justify-content: center;
    align-items: flex-end;
    border-top: solid white 2px;
}

.nav-footer{
   justify-content: space-between;
    align-items: center;
}